@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --text: #f3f4f6;
    --background: #060709;
    --primary: #916990;
    --secondary: #1e1a15;
    --accent: #6b946c;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #E3F2FD;
}

.chatbot .chat-recorder {
    position: relative;
    border-top: 1px solid #ccc;
    padding: 10px 0 0 0;
    background: var(--text);
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chatbot .chat-recorder .recordButton {
    outline: none;
    border: none;
    background: var(--text);
}

.chatbot .chat-recorder .chatRecorder.active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    animation: pulse 1s infinite;
}

.chat-recorder span {
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
    color: var(--primary);
    font-size: 30px;
    padding: 15px 15px;
}

.voice-toggler {
    position: fixed;
    left: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: var(--text);
    background: var(--primary);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.voice-toggler.active {
    background-color: var(--primary);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.voice-toggler span {
    color: var(--text);
    font-size: 35px;
    font-weight: 500;
}

.chatbot-toggler {
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: var(--text);
    background: var(--primary);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    color: var(--text);
    position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
    opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    overflow: hidden;
    background: var(--text);
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header {
    background: var(--primary);
    color: var(--text);
    padding: 16px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.chatbot header h2 {
    font-size: 1.4rem;

}

.chatbot .chatbox {
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    line-height: 32px;
    color: var(--text);
    background: var(--primary);
    text-align: center;
    border-radius: 6px;
    margin: 0 10px 7px 0;
    align-self: flex-end;


}

.chatbox .outgoing {
    justify-content: flex-end;
    margin: 20px 0;

}

.chatbox .chat p {
    white-space: pre-wrap;
    color: var(--text);
    font-size: 0.95rem;
    border-radius: 10px 10px 0 10px;
    padding: 12px 16px;
    background: var(--primary);


}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
    color: var(--background);
    background: var(--text);
}

.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.chatbot .chat-input {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    background: var(--text);
    padding: 5px 20px;
    display: flex;
    gap: 5px;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    background: var(--text);
    border: none;
    outline: none;
    resize: none;
    padding: 15px 15px 15px 5px;
    max-height: 180px;
}

.chat-input span {
    align-self: flex-end;
    height: 55px;
    color: var(--primary);
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
    display: flex;
    align-items: center;
}




.chat-input textarea:valid~span {
    visibility: visible;

}

@media (max-width: 490px) {

    .chatbot-toggler,
    .voice-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }

    .chatbot .chatbox {
        height: 70%;
        padding: 25px 15px 100px;
        overflow: auto;
    }

    .chatbot .chat-input {
        padding: 5px 15px;
        height: 10%;
    }

    .chatbot .chat-recorder {
        height: 10%;
    }

    .chatbot header span {
        display: block;
    }
}